body {
  background-color: lightblue;
  overflow: hidden;
}

.box {
    position: relative;
    border: 2px solid;
    background-color: yellow;
    border-radius: 25px;
    width: 500px;
    height: 350px;
    left: 500px;
    top: 200px;
}

.mainWeb {
    position: relative;
    top: -120px;
    left: -200px;
}


.mainText {
    position: relative;
    left: 767px;
    bottom: -5px;
    font-family: Tahoma;
    font-size: 29px;
    color: red;
}



.t1 {
    position: relative;
    left: 400px;
    top: 100px;
    font-family: Tahoma;
    font-size: 25px;

}

.num {
    position: relative;
    left: 419px;
    top: 106px;
    width: 50px;
    height: 30px;
}

.t2 {
    position: relative;
    left: 410px;
    top: 100px;
    font-family: Tahoma;
    font-size: 25px;
}

.symb {
    position: relative;
    left: 435px;
    top: 105px;
    width: 50px;
    height: 30px;
}

.t3 {
    position: relative;
    left: 51px;
    top: 60px;
    font-family: Tahoma;
    font-size: 25px;
}

.lower {
    position: relative;
    left: 50px;
    top: 65px;
    width: 50px;
    height: 30px;
}

.t4 {
    position: relative;
    left: 40px;
    top: 60px;
    font-family: Tahoma;
    font-size: 25px;
}

.upper {
    position: relative;
    left: 40px;
    top: 65px;
    width: 50px;
    height: 30px;
}

.t5 {
    position: relative;
    left: -345px;
    top: 140px;
    font-family: Tahoma;
    font-size: 25px;
}

.length {
    position: relative;
    left: -290px;
    top: 140px;
    width: 50;
    height: 30px;
}

.output {
    position: relative;
    left: 770px;
    top: 150px;
    width: 350px;
    height: 50px;
}

.generate {
    position: relative;
    left: 550px;
    top: 200px;
    width: 80px;
    height: 30px;
}
